{% extends "site_base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block head_title %}notebook{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
  <script>
  $(document).ready(function(){
      $(window).resize(function(){
          $(".fullheight").height($(document).height());
      });
  });
  </script>
  {% if notebook_status == "running" %}
  <div class="container fullheight">
    <iframe src="/notebook/{{ notebook_id }}" width="100%" height="500" style="border:none;"></iframe>
  </div>
  {% else %}
  <div class="container">
    <img src="{% static "images/outsell_loading.gif" %}" />
  </div>
  {% endif %}
{% endblock %}
