<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>深度学习技术及应用国家工程实验室 - PaddlePaddle Cloud</title>
    <link rel="stylesheet" href="./site_media/static/css/home.css">
    <!-- Baidu Analystics -->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?b9a314ab40d04d805655aab1deee08ba";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<header class="site-header">
    <nav class="row">
        <div class="logo">
            <img src="./site_media/static/images/logo.png">
        </div>
        <nav class="top-nav">
            <ul class="site-links">
                <li><a class="active">主页</a></li>
                <li><a href="https://github.com/PaddlePaddle/cloud/blob/develop/doc/tutorial_cn.md" target="_blank">教程</a></li>
                <li><a href="https://github.com/PaddlePaddle/cloud/blob/develop/doc/usage_cn.md" target="_blank">文档</a></li>
                <li><a href="https://github.com/PaddlePaddle/models" target="_blank">模型库</a></li>
            </ul>
        </nav>
        <nav class="right-nav">

            <div class="github-fork">
                <a href="https://github.com/PaddlePaddle/Cloud" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                    <span>Github</span>
                </a>
            </div>
        </nav>
    </nav>
</header>
<section class="head-banner">
    <div class="row banner">
        <h1>深度学习技术及应用国家工程实验室</h1>
        <p>中国最大的深度学习开放研发平台，旨在推动深度学习技术及应用领域产学研标用的全面发展。</p>
        <div>
            <a class="quick-start" href="http://wenjuan.baidu.com/?code=yxaune" target="_blank">提交申请</a>
        </div>
    </div>
</section>
<section class="services">
    <div class="row">
        <h2><span>PaddlePaddle Cloud</span></h2>
        <p class="sub-title">
            本实验室计算平台基于<a style="color:#666" href="http://www.paddlepaddle.org">PaddlePaddle</a>，构建了世界先进的分布式并行计算深度学习平台PaddlePaddle Cloud，为深度学习研究者和从业者提供强大的、先进的弹性计算资源。</p>
    </div>
    <div class="row">
        <div>
            <img class="service-icon" src="./site_media/static/images/service-1.png">
        </div>
        <div>
            <div class="service-desc">
                <h3>便捷、高效的弹性计算资源</h3>
                <p>为深度学习研究者和从业者提供强大的、先进的弹性GPU资源，免去使用者承担昂贵的专业级GPU硬件设备成本和维护成本。</p>

            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <div class="service-desc">
                <h3>ServerLess</h3>
                <p>使用者几乎不用考虑如何编写执行分布式程序，直接提交训练程序，训练任务便可以扩展到多台服务器的多个GPU上分布式的执行。</p>

            </div>
        </div>
        <div>
            <img class="service-icon" src="./site_media/static/images/service-2.png">
        </div>
    </div>
    <div class="row">
        <div>
            <img class="service-icon" src="./site_media/static/images/service-3.png">
        </div>
        <div>
            <div class="service-desc">
                <h3>即写即运行</h3>
                <p>每个使用者都拥有自己独立的Jupyter Notebook环境，并可以在Notebook中进行可视化的程序编写和运行，即时查看运行效果。</p>

            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <div class="service-desc">
                <h3>先进的集群调度系统</h3>
                <p>PaddlePaddle Cloud使用Kubernetes作为集群任务的调度器，可以将硬件资源利用率提升到<span style='font-weight: bold'>80%</span>，并且支持大量的任务同时运行。</p>

            </div>
        </div>
        <div>
            <img class="service-icon" src="./site_media/static/images/service-4.png">
        </div>
    </div>
</section>
<section class="features">
    <div class="row">
        <h2><span>技术和服务优势</span></h2>

    </div>
    <div class="row">
        <div class="feature-desc">
            <div class="feature-icon">
                <img src="./site_media/static/images/feature-1.png">
            </div>
            <h3>免费的GPU资源</h3>
            <p>符合申请条件的研究员，我们将提供一定额度的免费GPU计算资源。</p>
        </div>
        <div class="feature-desc">
            <div class="feature-icon">
                <img src="./site_media/static/images/feature-2.png">
            </div>
            <h3>预下载的公开数据集</h3>
            <p>PaddlePaddle Cloud被授权提供多个公开数据集给研究者和从业人员使用，使用者可以使用这些公开数据快速构建深度学习模型并验证效果。</p>
        </div>
        <div class="feature-desc">
            <div class="feature-icon">
                <img src="./site_media/static/images/feature-3.png">
            </div>
            <h3>开源、易于应用</h3>
            <p>PaddlePaddle 和 PaddlePaddle Cloud都使用Apache License 2.0作为开源软件协议，不论企业还是个人都可以免费获得这些软件，并在企业自己的硬件之上构建深度学习平台。</p>
        </div>
        <div class="feature-desc">
            <div class="feature-icon">
                <img src="./site_media/static/images/feature-4.png">
            </div>
            <h3>扩展性</h3>
            <p>全面支持多核、多GPU、多机环境。轻松应对大规模数据训练需求。</p>
        </div>
    </div>

</section>
<section class="get-started">
    <div class="row">
        <h2>现在开始使用PaddlePaddle Cloud</h2>
        <div>
            <a role="button" class="quick-start" href="http://wenjuan.baidu.com/?code=yxaune" target="_blank">提交申请</a>
        </div>
    </div>
</section>
<section class="services">
<div class="row">
        <h2 style="text-align:center;"><span>关于深度学习技术及应用国家工程实验室</span></h2>
        <p class="sub-title"  style="text-align:left;">
            为了解决我国人工智能基础支撑能力不足等问题，由国家发展和改革委员会批复，百度牵头筹建<b>深度学习技术及应用国家工程实验室</b>，并于2017年3月2日正式揭牌启动。</br>
            实验室由百度深度学习实验室主任林元庆、百度深度学习实验室杰出科学家徐伟、清华大学张钹院士和北京航空航天大学李未院士组成的团队牵头,与清华大学，北京航空航天大学，中国信息通信研究院，中国电子技术标准化研究院等共建单位一起，推动我国深度学习技术及应用领域的产学研标用的全面发展。</br>
            实验室将着重发力于深度学习技术、计算机视觉感知技术、计算机听觉技术、生物特征识别技术、新型人机交互技术、标准化服务、深度学习知识产权七大方向，建设“国内领先、世界一流”的深度学习技术及应用研究机构，从研究突破、产业合作、技术成果转让、人才培养等方面提升我国人工智能领域整体竞争力。</br>
            </br>
            </br>

        </p>

    </div>
</section>

<footer class="footer-nav">
    <div class="row">
         <p class="copyright">&copy;Copyright&nbsp;2017,&nbsp;PaddlePaddle&nbsp;developers.</p>
    </div>
</footer>
<script src="./site_media/static/js/common.bundle.js"></script>
<script src="./site_media/static/js/home.bundle.js"></script>
</body>
</html>
