{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load pinax_webanalytics_tags %}
{% load i18n %}
{% load notebook_status_tags %}

{% block nav %}
  {% get_user_notebook_status request.user as status %}
    {% if request.user.is_authenticated %}
        <ul class="nav navbar-nav">
            <li><a href="/notedash">我的NoteBook
                {% if status == "running" %}
                <span class="label label-success">{{ status }}</span>
                {% elif status == "starting" %}
                <span class="label label-warning">{{ status }}</span>
                {% elif status == "stopped" %}
                <span class="label label-danger">{{ status }}</span>
                {% elif status == "unknown" %}
                <span class="label label-default">{{ status }}</span>
                {% endif %}
            </a></li>
        </ul>
      {% endif %}
{% endblock %}

{% block styles %}
    <link href="{% static "css/site.css" %}" rel="stylesheet" />
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    <script src="{% static "js/site.js" %}"></script>
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
