apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: prepare-build-env
spec:
  description: Parse parameters from original infos and prepare env for kaniko task.
  workspaces:
  - name: source
    description: Containing paddle toolkit repo and docker repo.
  params:
  - name: toolkit-name
    description: The paddle toolkit name.
  - name: revision
    description: The branch of paddle toolkit repo.
    type: string
  - name: paddle-base-tag
    description: The tag of paddle base image.
    type: string
    default: 2.2.2
  - name: toolkit-dir
    description: The dir name of paddle toolkit repo in the workspace.
  - name: dockerfile-path
    description: The relative path to Dockerfile within repo.
  - name: hardware
    description: gpu or cpu.
  results:
  - name: dockerfile-name
    description: The dockerfile's file name.
  - name: image-tag-branch
    description: image release version
  - name: image-tag-env
    description: The base env of paddlepaddle image.
  - name: paddle-version
    description: x.x.x
  - name: hardware
    description: gpu("-gpu") or cpu("")
  steps:
  - name: preparing
    image: zshusers/zsh:5.8
    env:
    - name: REVISION
      value: $(params.revision)
    - name: PADDLE_BASE_TAG
      value: $(params.paddle-base-tag)
    - name: TOOLKIT_DIR
      value: $(params.toolkit-dir)
    - name: DOCKERFILE_PATH
      value: $(params.dockerfile-path)
    - name: HARDWARE
      value: $(params.hardware)
    script: |
      #!/usr/bin/env zsh
      set -x
      cd $(workspaces.source.path) && mkdir docker
      mv repo-docker/${DOCKERFILE_PATH} docker/ && DOCKERFILE_NAME=`ls docker`
      mv ${TOOLKIT_DIR} docker/ && cd docker
      echo "current path: `pwd`"
      echo "file list: `ls`"

      PADDLE_VERSION=${PADDLE_BASE_TAG:0:5}

      if [[ ${REVISION} != "develop" ]]
      then
          REVISION=${REVISION:0-3:3}
      fi

      if [[ ${PADDLE_BASE_TAG} =~ "-" ]]
      then
          IMAGE_TAG_ENV=${PADDLE_BASE_TAG#*"-"}
      else
          IMAGE_TAG_ENV="cpu"
      fi

      if [[ ${HARDWARE} == "gpu" ]]
      then
          HARDWARE="-gpu"
      elif [[ ${HARDWARE} == "cpu" ]]
      then
          HARDWARE=""
      else
          echo HARDWARE must be gpu or cpu. Please check your input.
          exit 1
      fi

      printf "%s" "${DOCKERFILE_NAME}" > "$(results.dockerfile-name.path)"
      printf "%s" "${PADDLE_VERSION}" > "$(results.paddle-version.path)"
      printf "%s" "${IMAGE_TAG_ENV}" > "$(results.image-tag-env.path)"
      printf "%s" "${REVISION}" > "$(results.image-tag-branch.path)"
      printf "%s" "${HARDWARE}" > "$(results.hardware.path)"
  - name: mod-dockerfile
    image: zshusers/zsh:5.8
    env:
    - name: TOOLKIT_NAME
      value: $(params.toolkit-name)
    script: |
      #!/usr/bin/env zsh
      set -x
      cd $(workspaces.source.path)/docker

      NO_REQUIREMENT=(PaddleRec PaddleSpeech)
      NO_INSTALL=(PaddleClas PaddleRec)

      if [[ ${NO_REQUIREMENT[*]} =~ ${TOOLKIT_NAME} ]]
      then
        sed -i "" "/requirements.txt/d" Dockerfile
      fi

      if [[ ${NO_INSTALL[*]} =~ ${TOOLKIT_NAME} ]]
      then
        sed -i "" "/setup.py/d" Dockerfile
      fi


