body.account-settings .account-settings,
body.account-password .account-password,
body.account-delete .account-delete {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: @list-group-active-color;
    background-color: @list-group-active-bg;
    border-color: @list-group-active-border;
}