apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: minio
    application-crd-id: kubeflow-pipelines
  name: minio
  namespace: kubeflow
spec:
  selector:
    matchLabels:
      app: minio
      application-crd-id: kubeflow-pipelines
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: minio
        application-crd-id: kubeflow-pipelines
    spec:
      containers:
        - args:
            - server
            - /data
          env:
            - name: MINIO_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  key: accesskey
                  name: mlpipeline-minio-artifact
            - name: MINIO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  key: secretkey
                  name: mlpipeline-minio-artifact
          image: registry.baidubce.com/paddleflow-public/minio:RELEASE.2019-08-14T20-37-41Z-license-compliance
          name: minio
          ports:
            - containerPort: 9000
          resources:
            requests:
              cpu: 20m
              memory: 100Mi
          volumeMounts:
            - mountPath: /data
              name: data
              subPath: minio
      #      nodeSelector:
      #        kubernetes.io/hostname: 192.168.48.14
      volumes:
        - name: data
          #          hostPath:
          #            path: /dev/shm/minio
          #            type: DirectoryOrCreate
          persistentVolumeClaim:
            claimName: minio-pvc
