apiVersion: v1
kind: Service
metadata:
  labels:
    app: workflow-controller
    application-crd-id: kubeflow-pipelines
  name: workflow-controller-metrics
  namespace: {{ include "common.names.namespace" . | quote }}
spec:
  ports:
    - name: metrics
      port: 9090
      protocol: TCP
      targetPort: 9090
  selector:
    app: workflow-controller
    application-crd-id: kubeflow-pipelines
