{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}notebook{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
  <script>
  $(document).ready(function(){
      $(window).resize(function(){
          $(".fullheight").height($(document).height());
      });
  });
  </script>

  <div class="container fullheight">
    <iframe src="http://cloud.paddlepaddle.org/notebook/{{ notebook_id }}" width="100%" height="500" style="border:none;"></iframe>
  </div>

{% endblock %}
