{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block body_class %}account account-certs{% endblock %}

{% block head_title %}{% trans "Account" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
          <h2>{% trans "X509 Certificates" %}</h2>
          <hr />
          <table class="table table-bordered">
            {% for user_key in user_keys %}
            <tr>
              <td>
                {{ user_key }}
              </td>
            </tr>
            {% endfor %}
          </table>
            {% if key_exist %}
            {% blocktrans %}<a class="btn btn-primary" href="/certsdown">Download</a>{% endblocktrans %}
            {% else %}
            {% blocktrans %}<a class="btn btn-primary" href="/certsgen">Generate</a>{% endblocktrans %}
            {% endif %}
        </div>
    </div>
{% endblock %}
