apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mysql
    application-crd-id: kubeflow-pipelines
  name: mysql
  namespace: kubeflow
spec:
  selector:
    matchLabels:
      app: mysql
      application-crd-id: kubeflow-pipelines
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: mysql
        application-crd-id: kubeflow-pipelines
    spec:
      containers:
        - args:
            - --ignore-db-dir=lost+found
            - --datadir
            - /var/lib/mysql
          env:
            - name: MYSQL_ALLOW_EMPTY_PASSWORD
              value: "true"
          image: registry.baidubce.com/paddleflow-public/mysql:5.7
          name: mysql
          ports:
            - containerPort: 3306
              name: mysql
          resources:
            requests:
              cpu: 100m
              memory: 800Mi
          volumeMounts:
            - mountPath: /var/lib/mysql
              name: mysql-persistent-storage
      serviceAccountName: mysql
      #      nodeSelector:
      #        kubernetes.io/hostname: 192.168.48.14
      volumes:
        - name: mysql-persistent-storage
          #          hostPath:
          #            path: /dev/shm/mysql
          #            type: DirectoryOrCreate
          persistentVolumeClaim:
            claimName: mysql-pv-claim
